
.formContainer/*,.loginForm,.registerForm*/{
display:flex;
flex-direction: column;
align-items: center;
background-color: #a0b4d1;
width: 40%;
justify-content:flex-start;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 30%;
height: 65%;
color: rgb(0, 0, 0);
border-radius: 25px;
min-width: 500px

}
.loginForm,.registerForm{
display:flex;
flex-direction: column;
background-color: #a0b4d1;
width: 80%;
height: 100%;
margin: 5px;



}


@media screen and(min-width:600px) {
    
    
    .formContainer{
        padding: 5rem;
        border: 1px solid white;
        border-radius:10px;
    
    
    }
}



label{
    text-align: left;
    padding: 0.25rem 0;
    color: rgb(0, 0, 0);
    
}

input{

    margin:0.5rem ;
    padding:1rem;
    border:none;
    border-radius: 10px;

} 
.submit{
    border: none;
    background-color: #6b5b95;;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #052e66;
    margin-bottom: 30px;
    margin-top:30px;
    
}
.linkBtn{

background: none;
color: rgb(255, 255, 255);
text-decoration: underline;
margin-bottom: 20px;
border: none;
}
