.task-stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

.card {
background-color: #f4f4f9;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 20px;
flex: 1; /* All cards take equal space */
text-align: left; /* Align text to the left */
}

.card-header {
display: flex; /* Align icon and title horizontally */
align-items: center; /* Center items vertically */
margin: 10px;
}
.icon1 {
    font-size: 2rem;
    margin-right: 10px; /* Space between icon and title */
    color: purple; /* Default color */
    }
.icon2 {
    font-size: 2rem;
    margin-right: 10px; /* Space between icon and title */
    color: orange; /* Default color */
        }
            

.icon3 {
font-size: 2rem;
margin-right: 10px; /* Space between icon and title */
color: #4caf50; /* Default color */
}
.icon-late{
margin-right:5px ;
color: #ff5722;
font-size:x-large;
}

.late {
color: #ff5722; /* Specific color for late tasks icon */
}

.card h3 {
margin: 0; /* Remove margin to align perfectly */
font-size: 1.5rem;
line-height: 2rem; /* Adjust line height to vertically center the text */
}

.card p {
margin: 10px;
font-size: 1.2rem;
color: #333;
}

@media (max-width: 768px) {
.task-stats-container {
    flex-direction: column; /* Stack cards on smaller screens */
}
}
